@{
    ViewBag.Title = "Home Page";
}
<div class="container body-content">
    <div class="jumbotron">
        <h1>欢迎使用文件柜！</h1>
        <p class="lead">首次使用请注册，欢迎您成为我们的用户！</p>
        <p><a href="#" class="btn btn-primary btn-lg">请登录 &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>功能展示一</h2>
            <p>
                功能一详细内容......
            </p>
            <p><a class="btn btn-default" href="#">按钮一 &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>功能展示二</h2>
            <p>
                功能二详细内容......
            </p>
            <p><a class="btn btn-default" href="#">按钮二 &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>功能展示三</h2>
            <p>
                功能三详细内容......
            </p>
            <p><a class="btn btn-default" href="#">按钮三 &raquo;</a></p>
        </div>
    </div>
</div>
