@model FileCase.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security
<div class="container body-content">
    <h4>温馨提示</h4>
    <hr />
    <div>
        <p>
            这里好像也没什么作用！
        </p>
    </div>  
</div>

